/**
 * Just specify font-size, don't override current font.
 */
/**
 * The "normal" weight font, usually weight 400
 */
/**
 * The "headline" weight font
 */
/**
 * The "small caps" weight font
 */
/**
 * Helper function to normalize the line-height. Provides an easy way to
 * handle 'auto' and unspecified lineheight values.
 */
/**
 * Primary helper to get the font bits output correctly
 */
::selection {
  background: #b08f6e;
  color: white; }

::-moz-selection {
  background: #b08f6e;
  color: white; }

.grey {
  color: #b08f6e; }

body {
  background: white;
  font-family: Courier, Courier, "Courier New", Monaco, monospace;
  font-size: 16px;
  font-size: 1rem;
  line-height: 19.2px;
  line-height: 1.2rem;
  font-weight: normal; }

.banner {
  background-color: #b08f6e;
  min-height: 100%;
  background-image: url(../img/banner_gold.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  top: 48px;
  padding: 0 0 40px 0;
  border: 1rem solid; }

.logo {
  text-align: center;
  overflow: hidden;
  margin-top: 15%;
  position: relative;
  display: block; }
  .logo img {
    width: 60%;
    max-width: 600px; }
  @media only screen and (max-width: 440px) {
    .logo {
      top: 30%; }
      .logo img {
        width: 270px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .logo {
      top: 10em; }
      .logo img {
        width: 60%; } }

.logo_fixed {
  float: left;
  margin: 30px 0 0 12px;
  position: relative;
  left: 16px; }
  @media only screen and (max-width: 980px) {
    .logo_fixed {
      display: block;
      margin: 15px 0 0 0px;
      left: 0px; } }

.schedule_fixed {
  float: right;
  margin: 16px 0 0 12px;
  position: relative;
  width: 48px;
  right: 16px;
  display: none; }
  @media only screen and (max-width: 980px) {
    .schedule_fixed {
      display: block;
      width: 32px;
      margin: 8px 0 0 12px;
      right: 0px; } }

.table {
  display: inline;
  /* Allow the centering to work */
  margin: 0 auto;
  float: right; }

nav.ww1 {
  height: 80px;
  background-color: rgba(42, 39, 40, 0.98);
  position: fixed;
  z-index: 9999;
  width: 100%; }
  @media only screen and (max-width: 980px) {
    nav.ww1 {
      height: 48px; } }
  nav.ww1 ul {
    width: auto;
    margin: 14px auto 0 auto;
    height: 60px;
    list-style: none; }
    @media only screen and (max-width: 980px) {
      nav.ww1 ul {
        display: none;
        height: 40px; } }
  nav.ww1 ul li {
    display: inline;
    font-family: "Bureau Grot Wide Light", Courier, "Courier New", Monaco, monospace;
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 13.2px;
    line-height: 0.825rem;
    font-weight: normal;
    font-weight: 600;
    text-align: left;
    float: left;
    margin: .6em;
    width: 84px;
    height: 59px;
    border-bottom: 5px solid rgba(255, 255, 255, 0.1); }
    nav.ww1 ul li a {
      text-decoration: none !important;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      nav.ww1 ul li a:hover {
        color: #b08f6e;
        text-decoration: none !important; }
      nav.ww1 ul li a:active {
        color: #b08f6e;
        text-decoration: none !important; }
    nav.ww1 ul li .circle_number {
      background: #b08f6e;
      color: #2a2728; }
    nav.ww1 ul li .external {
      color: rgba(255, 255, 255, 0.5); }

.intro {
  margin-top: 60px;
  color: white;
  text-transform: uppercase; }

.next {
  position: absolute !important;
  width: 96px;
  height: 32px;
  left: calc(50% - 46px);
  bottom: 48px;
  z-index: 10; }

.pagination {
  position: fixed;
  left: 20px;
  float: left;
  z-index: 8880;
  top: calc(50vh - 10%); }
  .pagination ul {
    list-style: none; }
    .pagination ul li {
      margin: 0 0 12px 0; }
  @media only screen and (max-width: 768px) {
    .pagination {
      left: 4px;
      width: 80%; } }
  @media only screen and (max-width: 440px) {
    .pagination {
      display: none; } }

.circle a:link {
  display: block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #2a2728;
  opacity: .7;
  text-align: center;
  padding-top: 4px;
  font-weight: bold;
  font-size: 16px; }

.circle_number {
  display: inline-block;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  text-align: center;
  padding-top: .15em;
  margin: 0 auto; }

.active {
  opacity: 1 !important; }

.nav {
  color: white;
  text-decoration: none; }

/* Default Link Styles */
a {
  color: #0c71b8;
  text-decoration: none;
  line-height: inherit; }

a:hover, a:focus {
  color: #074570; }

a img {
  border: none; }

h1.headliner {
  font-family: "Bureau Grot Comp", Courier, "Courier New", Monaco, monospace;
  font-size: 80px;
  font-size: 5rem;
  line-height: 80px;
  line-height: 5rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 .5em 0; }
  @media only screen and (max-width: 768px) {
    h1.headliner {
      font-family: "Bureau Grot Comp", Courier, "Courier New", Monaco, monospace;
      font-size: 48px;
      font-size: 3rem;
      line-height: 48px !important;
      line-height: 48px !important/16pxrem;
      font-weight: normal; } }

h1 {
  font-family: Courier, Courier, "Courier New", Monaco, monospace;
  font-size: 55px;
  font-size: 3.4375rem;
  line-height: 55px;
  line-height: 3.4375rem;
  font-weight: normal;
  margin: 0 0 .5em 0;
  padding-bottom: 24px;
  border-bottom: .15rem dotted; }
  @media only screen and (max-width: 768px) {
    h1 {
      font-family: Courier, Courier, "Courier New", Monaco, monospace;
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 36px !important;
      line-height: 36px !important/16pxrem;
      font-weight: normal; } }

h2, h4 {
  font-family: "Bureau Grot Comp", Courier, "Courier New", Monaco, monospace;
  font-size: 80px;
  font-size: 5rem;
  line-height: 80px;
  line-height: 5rem;
  font-weight: normal;
  color: #b08f6e;
  text-transform: uppercase;
  margin-bottom: 10px; }
  h2::before, h4::before {
    content: "\201C";
    position: relative;
    left: -0.3 0.5%;
    margin-left: -3.5%; }
  h2::after, h4::after {
    content: "\201D"; }
  @media only screen and (max-width: 1024px) {
    h2, h4 {
      font-family: "Bureau Grot Comp", Courier, "Courier New", Monaco, monospace;
      font-size: 52px;
      font-size: 3.25rem;
      line-height: 52px;
      line-height: 3.25rem;
      font-weight: normal; } }
  @media only screen and (max-width: 440px) {
    h2, h4 {
      font-family: "Bureau Grot Comp", Courier, "Courier New", Monaco, monospace;
      font-size: 32px;
      font-size: 2rem;
      line-height: 32px;
      line-height: 2rem;
      font-weight: normal; } }

h3 {
  font-family: "Bureau Grot Wide Light", Courier, "Courier New", Monaco, monospace;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 21.6px;
  line-height: 1.35rem;
  font-weight: normal;
  font-weight: normal;
  color: #b08f6e;
  margin: 0 0 2em 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px; }
  @media only screen and (max-width: 440px) {
    h3 {
      font-family: "Bureau Grot Wide Light", Courier, "Courier New", Monaco, monospace;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 16.8px;
      line-height: 1.05rem;
      font-weight: normal; } }

h4 {
  font-family: "Bureau Grot Comp", Courier, "Courier New", Monaco, monospace;
  font-size: 32px;
  font-size: 2rem;
  line-height: 32px;
  line-height: 2rem;
  font-weight: normal; }
  h4::before {
    content: "\201C";
    position: relative;
    left: -.5%;
    margin-left: -2.5%; }
  h4::after {
    content: "\201D"; }

h5 {
  font-family: Courier, Courier, "Courier New", Monaco, monospace;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 44px;
  line-height: 2.75rem;
  font-weight: normal;
  font-weight: bold; }

h6 {
  font-family: "Bureau Grot Wide Light", Courier, "Courier New", Monaco, monospace;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: normal;
  font-weight: normal;
  color: #aba5a7;
  margin: 0 0 2em 0;
  padding-top: 1em;
  text-align: left;
  letter-spacing: 2px;
  border-top: 1px solid #2a2728; }

p {
  font-family: Courier, Courier, "Courier New", Monaco, monospace;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: normal;
  font-weight: normal; }
  @media only screen and (max-width: 1024px) {
    p {
      font-family: Courier, Courier, "Courier New", Monaco, monospace;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 20px;
      line-height: 1.25rem;
      font-weight: normal; } }

small {
  font-family: "Bureau Grot Wide Light", Courier, "Courier New", Monaco, monospace;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: normal;
  font-weight: normal;
  text-align: center !important;
  text-transform: uppercase;
  color: #aba5a7; }

.title {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 24px;
  margin-top: 24px !important; }

.more {
  padding-top: 36px;
  padding-bottom: 24px;
  margin-top: 12px !important;
  border-top: 0.15rem dotted rgba(42, 39, 40, 0.5);
  cursor: pointer; }

.white {
  background: white;
  background-image: url(../img/bg_white_01.jpg);
  background-position: 10% 6%;
  background-repeat: no-repeat;
  background-size: 1024px;
  color: #b08f6e; }
  .white p {
    color: #797174; }
  .white a {
    color: #2a2728;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .white a:hover {
      color: #b08f6e; }
  .white .circle_number {
    background: rgba(176, 143, 110, 0.8);
    color: white; }

.gold {
  background: #b08f6e;
  border-color: white;
  background-image: url(../img/bg_gold_02.jpg);
  background-position: 10% 6%;
  background-repeat: no-repeat;
  background-size: 1024px; }
  .gold p {
    color: rgba(255, 255, 255, 0.8); }
  .gold h2, .gold h3, .gold h4 {
    color: rgba(42, 39, 40, 0.6); }

.black {
  background: #2a2728;
  border-color: #b08f6e;
  background-image: url(../img/bg_black_06.jpg);
  background-position: 10% 6%;
  background-repeat: no-repeat;
  background-size: 1024px; }
  .black p {
    color: rgba(255, 255, 255, 0.8); }
  .black h2, .black h3, .black h4 {
    color: rgba(176, 143, 110, 0.9); }
  .black .more {
    border-color: white; }

.blue {
  background: #0c71b8;
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.3);
  background-image: url(../img/bg_blue_03.jpg);
  background-position: 10% 6%;
  background-repeat: no-repeat;
  background-size: 1024px; }
  .blue h2, .blue h3, .blue h4 {
    color: rgba(42, 39, 40, 0.6); }
  .blue .title {
    border-bottom: rgba(255, 255, 255, 0.5); }

a {
  color: white;
  text-decoration: underline; }

.red {
  background: #ed323a;
  color: rgba(255, 255, 255, 0.8);
  border-color: white;
  background-image: url(../img/bg_red_04.jpg);
  background-position: 10% 6%;
  background-repeat: no-repeat;
  background-size: 1024px; }
  .red p {
    color: rgba(255, 255, 255, 0.8); }
  .red h2, .red h3, .red h4 {
    color: rgba(42, 39, 40, 0.7); }

.green {
  background: #73b84f;
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.5);
  background-image: url(../img/bg_green_05.jpg);
  background-position: 10% 6%;
  background-repeat: no-repeat;
  background-size: 50%; }
  .green p {
    color: rgba(255, 255, 255, 0.8); }
  .green h2, .green h3, .green h4 {
    color: rgba(42, 39, 40, 0.6); }

.white, .gold, .black, .red, .blue, .green {
  padding: 0 0 40px 0;
  border: 1rem solid; }
  @media only screen and (max-width: 1025px) {
    .white, .gold, .black, .red, .blue, .green {
      border: .7rem solid;
      background-size: 768px !important; } }
  @media only screen and (max-width: 769px) {
    .white, .gold, .black, .red, .blue, .green {
      border: .7rem solid;
      background-size: 320px !important; } }
  @media only screen and (max-width: 440px) {
    .white, .gold, .black, .red, .blue, .green {
      border: .5rem solid;
      background-image: none; } }

.learnmore {
  position: relative; }
  @media only screen and (max-width: 768px) {
    .learnmore {
      display: none; } }

.spacer {
  height: 50px; }

.text_white {
  color: white; }

.text_gold {
  color: #c2a98f; }

.no-bg {
  background-image: none; }

a.down {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  a.down:hover {
    color: white;
    opacity: 1;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */ }

.caption {
  margin: 0;
  padding-bottom: 2rem; }
  .caption p {
    font-family: Courier, Courier, "Courier New", Monaco, monospace;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 21px;
    line-height: 1.3125rem;
    font-weight: normal;
    padding-left: 34px; }
  .caption .listen {
    background: url("../img/icon_listen.svg") left top no-repeat;
    background-size: 37px 37px;
    position: relative;
    left: -6px;
    top: 24px;
    padding-left: 46px; }
  .caption .watch {
    background: url("../img/icon_watch.svg") left top no-repeat;
    background-size: 37px 37px;
    position: relative;
    left: -6px;
    top: 24px;
    padding-left: 46px; }
  .caption .listen_white {
    background: url("../img/icon_listen_white.svg") left top no-repeat;
    background-size: 37px 37px;
    position: relative;
    left: -6px;
    top: 24px;
    padding-left: 46px; }
  .caption .watch_white {
    background: url("../img/icon_watch_white.svg") left top no-repeat;
    background-size: 37px 37px;
    position: relative;
    left: -6px;
    top: 24px;
    padding-left: 46px; }

.rte-footer {
  text-transform: none;
  padding-left: 16px; }
  .rte-footer h2:before {
    content: none;
    margin-left: 0; }
  .rte-footer h2:after {
    content: none; }

.rte-header nav, .rte-footer .footer-sections, .rte-footer .footer-additional .additional-section {
  max-width: 61.875rem; }
