// IMPORTS
@import "type";
@import "mixins";


// BREAKS
$small: 440px;
$medium: 768px;
$large: 1024px;

// COLOUR
$gold: rgba(176,143,110,1);
$blk: rgba(42,39,40,1);
$white: rgba(255,255,255,1);
$blue: rgba(12,113,184,1);
$red: rgba(235,27,35,1);
$green: rgba(103,169,68,1);
::selection {background:$gold;color: $white;}
::-moz-selection {background:$gold;color: $white;}
.grey {
    color: $gold;
}

body {
	background: $white;
	@include font-reg(16px);
}

body.blk {
	background: $blk;
	@include font-reg(16px);
	color: $white;
}

.banner {
	background-color: $gold;
	min-height: 95%;
	background-image: url(../img/banner_gold.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	padding: 0 0 40px 0;
	border: 1rem solid;
}

.logo {
	text-align: center;
	overflow: visible;
	// width: 100vw;
	margin-top: 15%;
	position: relative;
	display: block;

	img {
		width: 60%;
		max-width: 600px;
	}

	@media only screen and (max-width: $small) {
		top:30%;
		
		img {
			width: 244px;
			margin-top: 24px;
	}
	}

	@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) {
		// top: 10em;

		img {
			width: 60%;
		}
	}
}


.logo_fixed {
	float: left;
	margin: 30px 0 0 0;
	position: relative;
	left: 14px;

		@media only screen and (max-width: 980px) {
		display:block;
		margin: 15px 0 0 0px;
		
	}
}

.schedule_fixed {
	float: right;
	margin: 16px 1em 0 12px;
	position: relative;
	width: 48px;
	right: 14px;
	display:none;

	@media only screen and (max-width: 980px) {
		display:block;
		width: 32px;
		margin: 8px 0 0 12px;
	}
}

.table {
	display: inline;   /* Allow the centering to work */
	margin: 0 auto;
	float: right;

	@media only screen and (max-width: 980px) {
			display:none;
			background-color: $gold;
			width: 100%;
		}
}




nav.ww1 {
	height: 80px;
	background-color: $gold;
	position: fixed;
	z-index: 9999;
	width: 100%;
	padding: 0;

	@media only screen and (max-width: 980px) {
		height: 48px;
		}

	ul {
		width: auto;
		margin: 14px auto 0 auto;
		height: 60px;
		list-style: none;
	
	@media only screen and (max-width: 980px) {
		display: table;
		margin-left: 6px;
		}

	}

	ul li {

		display: inline;
		@include smallcaps(11px);
		font-weight: 600;
		text-align: left;
		float: left;
		margin: .6em;
		width: 84px;
		height: 59px;
		border-bottom: 5px solid rgba($white,.1);

	a {
		text-decoration: none !important;
		@include transition;

		&:hover {
			color: $blk;
			text-decoration: none !important;
		}

		&:active {
			color: $blk;
			text-decoration: none !important;
		}
	}
	
		.circle_number {
			background: $gold;
			color: $blk;
		}

		.external {
			color: rgba($white,.5)
		}
	}
}

.intro {
	margin-top: 60px;
	color: $white;
	text-transform: uppercase;


}

.next {
	width: 96px;
	height: 32px;
	left: calc(50% - 46px);
	bottom: 48px;
	margin: 0 auto;
}

.pagination {
	position: fixed;
	left: 20px;
	float: left;
	z-index: 8880;
	top: calc(50vh - 10%);

		ul {
			list-style: none;

			li {
				margin: 0 0 12px 0;
			}
		}

	@media only screen and (max-width: $medium) {
		left: 4px;
		width: 80%;
	}

	@media only screen and (max-width: $small) {
	display: none;
	}
}

.circle a:link {
	display: block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: $blk;
	opacity: .7;
	text-align: center;
	padding-top: 4px;
	font: {
		weight: bold;
		size: 16px;
	}

}

.circle_number {
	display: inline-block;
	border-radius: 50%;
	width: 1.25em;
	height: 1.25em;
	text-align: center;
	padding-top: .15em;
	margin: 0 auto;

}

.active {
	opacity: 1 !important;
}

.nav {
	color: $white;
	text-decoration: none;
}

/* Default Link Styles */
a {
  color: $blue;
  text-decoration: none;
  line-height: inherit; }
  a:hover, a:focus {
    color: darken($blue, 15%); }
  a img {
    border: none; }

// TYPE
h1.headliner {
	@include headline(80px,80px);
	text-transform: uppercase;
	margin: 0 0 .5em 0;

	@media only screen and (max-width: $medium) {
		@include headline(48px,48px !important);
	}

}

h1 {
	@include font-reg(55px,55px);
	margin: 0 0 .5em 0;
	padding-bottom: 24px;
	border-bottom: .15rem dotted;

		@media only screen and (max-width: $medium) {
		@include font-reg(36px,36px !important);
	}

}

h2,h4 {
	@include headline(80px,80px);
	color: $gold;
	text-transform: uppercase;
	margin-bottom: 10px;
	
		&::before {
		 content: "\201C";
		 position: relative;
		 left:-.3.5%;
		 margin-left: -3.5%;
  
		}

		&::after{
  			content: "\201D";
		}

	@media only screen and (max-width: $large) {
		@include headline(52px,52px);
	}

	@media only screen and (max-width: $small) {
		@include headline(32px,32px);
	}

}

h3 {
	@include smallcaps(18px);
	font-weight: normal;
	color: $gold;
	margin: 0 0 2em 0;
	text-align: center;
	letter-spacing: 2px;

		@media only screen and (max-width: $small) {
			@include smallcaps(14px);
		}

}


h3.para1, h3.prog_title {
	@include smallcaps(18px,24px);
	text-transform: normal;
	color: $blk;
	text-align: left;

	@media only screen and (max-width: $small) {
		@include smallcaps(14px,21px);
	}
}

h3.prog_title {
	margin: 0 0 0 0;
}


h4 {
	@include headline(32px,32px);
			&::before {
		 content: "\201C";
		 position: relative;
		 left:-.5%;
		 margin-left: -2.5%;
  
		}

		&::after{
  			content: "\201D";
		}
}

h5 {
	@include font-reg(36px,44px);
		font-weight: bold;

	// 	@media only screen and (max-width: $large) {
	// 		@include font-reg(21px,24px);
	// 		font-weight: bold;
	// }

}

h6 {
	@include smallcaps(16px,24px);
	font-weight: normal;
	color: rgba($blk,.5 );
	margin: 0 0 2em 0;
	padding-top: 1em;
	text-align: left;
	letter-spacing: 2px;
	border-top: 1px solid $blk;

}



p {
	@include font-reg(16px,24px);
	font-weight: normal;

		@media only screen and (max-width: $medium) {
		@include font-reg(14px,20px);
		letter-spacing: 1px;

	}

}

p.prog_name {
	color: $gold !important;
	margin-bottom: 0;

}

.prog_time {
	height: 150%;
	line-height: 1.8em;
	margin-bottom: 0;
}

.prog_list {
	border-bottom: 1px solid rgba($white,.2);
	margin-bottom: 1.2em !important;

}

.row .row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

small {
	@include smallcaps(12px,16px);
	font-weight: normal;
	text-align: center !important;
	text-transform: uppercase;
	color: rgba($blk,.5 );
	padding-top: 1em;
}

// SECTIONS
.title {
	text-align: center;
	padding-top: 48px;
	padding-bottom: 24px;
	margin-top: 24px !important;
}

.more {
	padding-top: 36px;
	padding-bottom: 24px;
	margin-top: 12px !important;
	border-top: .15rem dotted rgba($blk,.5);
	cursor:pointer;
}


.white {
	background: $white;
	background-image: url(../img/bg_white_01.jpg);
	background-position: 10% 6%;
	background-repeat: no-repeat;
	background-size: 1024px;
	color: $gold;
	p {
	color: lighten( $blk,30%);
	}
	a {
		color: $blk;
		@include transition;

		&:hover {
			color: $gold;
		}
	}
	.circle_number {
		background: rgba($gold,.8);
		color: $white;
	}
}

.gold {
	background: lighten($gold,0%);
	border-color: $white;
	background-image: url(../img/bg_gold_02.jpg);
	background-position: 10% 6%;
	background-repeat: no-repeat;
	background-size: 1024px;

	p {
	color: rgba($white,.8);
	}

	h2,h3,h4 {
		color: rgba($blk,.6);
	}

}

.black {
	background: $blk;
	border-color: $gold !important;
	background-image: url(../img/bg_black_06.jpg);
	background-position: 10% 6%;
	background-repeat: no-repeat;
	background-size: 1024px;

	p {
	color: rgba($white,.8);
	}

	h2,h3,h4 {
		color: rgba($gold,.9);
	}

	.more {
		border-color: $white;
	}

	.scheduleMore {
		border-color: none;
		text-transform: uppercase;

		h3 {
			@include smallcaps (27px);
		}
	}

}

.blue {
	background: $blue;
	color: rgba($white,.8);
	border-color:rgba($white,.3);
	background-image: url(../img/bg_blue_03.jpg);
	background-position: 10% 6%;
	background-repeat: no-repeat;
	background-size: 1024px;

	h2,h3,h4 {
		color: rgba($blk,.6);
	}

	.title {
		border-bottom: rgba($white,.5);
			}
	}

	a {
		color: $white;
		text-decoration: underline;
	}

.red {
	background: lighten($red,5%);
	color: rgba($white,.8);
	border-color:$white;
	background-image: url(../img/bg_red_04.jpg);
	background-position: 10% 6%;
	background-repeat: no-repeat;
	background-size: 1024px;
	
	p {
	color: rgba($white,.8);
	}

	h2,h3,h4 {
		color: rgba($blk,.7);
	}

}

.green {
	background: lighten($green,5%);
	color: rgba($white,.8);
	border-color:rgba($white,.5);
	background-image: url(../img/bg_green_05.jpg);
	background-position: 10% 6%;
	background-repeat: no-repeat;
	background-size: 50%;
	
	
	p {
	color: rgba($white,.8);
	}

	h2,h3,h4 {
			color: rgba($blk,.6);
	}

}

.first_container {
	top:80px;
	position: relative;

	@media only screen and (max-width: $large + 1 ) {
		top: 48px;
	}
}

.roadshow {
	background: $white;
	color: rgba($gold,.8);
	border-color:rgba($gold,.5);
	// background-image: url(../img/bg_horse.jpg);
	background-position: 90% 6%;
	background-repeat: no-repeat;
	background-size: 30%;
	
	
	p {
	color: rgba($blk,.8);
	}

	h2,h3,h4 {
			color: rgba($blk,.6);
	}

	a {
		color: $blk;
	}

}

.white, .gold, .black, .red, .blue, .green, .roadshow {
	padding: 0 0 40px 0;
	border: 1rem solid;

	@media only screen and (max-width: $large + 1 ) {
		border: .7rem solid;
		background-size: 768px !important;
	}

	@media only screen and (max-width: $medium + 1 ) {
		border: .7rem solid;
		background-size: 320px !important;
	}

	@media only screen and (max-width: $small) {
		border: .5rem solid;
		background-image: none;
	}
}

.learnmore {
	position: relative;
		
	@media only screen and (max-width: $medium) {
		display: none;
	}
}

.spacer {
	height:50px;
}

.text_white {
	color: lighten($white, 10%);
}

.text_gold {
	color: lighten($gold, 10%);
}

.no-bg {
	background-image: none;
}



a.down {
	color: white;
	text-decoration: none;
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    @include transition;

	&:hover {
		color: white;
		opacity: 1;
    	filter: alpha(opacity=100); /* For IE8 and earlier */
	}

	img {
		width: auto;

	@media only screen and (max-width: $medium) {
		width: 60%;
	}
	}

}

.link_centre {
	@include font-reg(21px);
	font-weight: bold;
	text-align: center;
	margin-top: 6px;
}

.caption {
	margin: 0;
	padding-bottom: 2rem;

	p {
		@include font-reg(14px,21px);
		padding-left: 36px;

	}
}

.listen, .watch, .listen_white, .watch_white {
		position: relative;
		left: -6px;
		padding-left: 36px;

		@media only screen and (max-width: $small) {
			padding-left: 36px;
			background-size: 24px;
		}
		}

.listen {
	background: url("../img/icon_listen.svg") left top no-repeat;
	background-size: 24px;
}

.watch {
	background: url("../img/icon_watch.svg") left top no-repeat;
	background-size: 24px;
}

.listen_white {
	background: url("../img/icon_listen_white.svg") left top no-repeat;
	background-size: 24px;
}

.watch_white {
	background: url("../img/icon_watch_white.svg") left top no-repeat;
	background-size: 24px;
	}

.captioned {
	clear: both;
	margin-bottom: 24px;
}


// BOSCO OVERRIDES
.rte-footer {
	text-transform: none;
	padding-left: 16px;
	h2 {
		&:before {
			content: none;

			margin-left: 0;
		}

		&:after {
			content: none;
		}
	}
}

.rte-header nav, .rte-footer .footer-sections, .rte-footer .footer-additional .additional-section {
max-width: 61.875rem;
}

.playerWrapper {
	margin-bottom: 1em;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.player {
		margin-bottom: 1em;
}
